@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

h4 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__img {
  border-radius: 50%;
  margin: 40px auto 0;
  width: 854px;
  height: 854px;
}

.hero__title {
  font-size: 4.5rem;
  margin-top: 40px;
  color: #0045be;
  font-family: Merriweather, serif;
}

.hero__paragraph {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 30px auto 60px;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
  width: 55%;
  position: relative;
  top: -150px;
}

.hero-grid__cart {
  padding: 20px;
  font-size: 1rem;
  background-color: #ffffff;
  box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.26);
}

.hero-grid__cart p {
  margin-top: 20px;
  word-spacing: 1.3px;
  color: #111111;
}

.hero-grid__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0045be;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  margin: 20px 0 0;
}

.hero-grid__icon img {
  width: 44px;
  height: 44px;
}

.footer {
  text-align: center;
  padding: 60px 40px;
  color: #ffffff;
  background-color: #333333;
}

.footer p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1440px) {
  .hero__title {
    text-wrap: nowrap;
  }

  .hero__img {
    width: 714px;
    height: 714px;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;
  }
}

@media screen and (max-width: 991px) {
  .hero__title {
    font-size: 2.5rem;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;
    width: 80%;
    top: -100px;
  }
}

@media screen and (max-width: 790px) {
  .hero__img {
    height: 531px;
    width: 531px;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;
    width: 85%;
    top: -100px;
  }
}

@media screen and (max-width: 475px) {
  .hero__title {
    font-size: 1.5rem;
    margin-top: 52px;
  }

  .hero__img {
    width: 379px;
    height: 379px;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 20px;
    width: 85%;
    top: -60px;
  }
}
